<header>
    <a name='Logo Link' href='/'>
        <h1>Wavey Workouts</h1>
    </a>
    <nav>
        <a href="/signup">SIGN UP</a>
        <a href="/login">LOG IN</a>
        <a href="/logout">LOG OUT</a>
        <a href="/">HOME</a>
    </nav>
</header>