<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <h1>Standard Workout List</h1>
    <ul>
        <% workouts.forEach( workout => { %>
            <li>
                <a href="/workouts/<%= workout.id %>">
                    <%= workout.name; %>
                </a>
                
                
            </li>
            <% }) %>
    </ul>
    <a href="/workouts/new">Add New Exercise</a>
</body>

</html>