<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='/public/css/style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Wavey Workouts</title>
</head>

<body>
    <header>
        <h1>Wavey Workouts</h1>
        
        <nav>
            <a href="/login">LOG IN</a>
            <a href="/signup">SIGN UP</a>
            <a href="/logout">LOG OUT</a>
            <a href="/">HOME</a>
        </nav>
    </header>
    <h2>Standard Workout List</h2>
    <ul>
        <% workouts.forEach( workout => { %>
            <li>
                <a href="/workouts/<%= workout.id %>">
                    <%= workout.name; %>
                </a>
                <form action='/workouts/<%= workout.id %>?_method=DELETE' method='POST' style='display:inline; margin-left:16px;'>
                    <input type='submit' value='DELETE' />
                </form>
                <a href="/workouts/<%= workout.id %>/edit">Edit</a>
            </li>
            <% }) %>
    </ul>
    <a href="/workouts/new">Add New Exercise</a>
</body>

</html>