<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <header>
        <h1>Wavey Workouts</h1>
        <nav>
            <a href="/login">LOG IN</a>
            <a href="/signup">SIGN UP</a>
            <a href="/logout">LOG OUT</a>
            <a href="/">HOME</a>
        </nav>
    </header>
    <h1>Please Login</h1>

    <% if(error) { %>
        <p style="color: red"><%= error %></p>
   <% } %>

    <form action="/login" method="post">
        <input type="email" name="email">
        <br>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Log In">
    </form>
</body>
</html>